*.swp
*.pyc
*.egg-info
ve/
build/
dist/
/static/
*.swo
/docs/_build
coverage.xml
pep8.txt
.tox/
.coverage
*.db
*.sqlite3
.DS_Store
local_settings.py
.vscode
.editorconfig
.tags
.tags_swap
.env
__pycache__
